<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FGT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>
<body>
    <button id="load-btn">Load</button>
    <div id="content"></div>
    <p id="timestamp"></p>
    <script>
        (function($) {
            var $content = $('#content');
            var $timestamp = $('#timestamp');
            $('#load-btn').on('click', function() {
               $.get('/game/load', function(data) {
                   $content.html(data);
                   $timestamp.html('Content loaded ' + Date.now().toString());
               });
            });
        })(jQuery);
    </script>
</body>
</html>